.new-snippet__title {
  color: var(--color-dark-blue);
}

.new-snippet {
  position: relative;
  width: 100%;
  padding-top: 30px;
}

.new-snippet .register--correct {
  bottom: -23px;
}

.snippet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-wrap .new-wrap,
.new-snippet .select-wrap,
.new-wrap .select-input {
  width: 100%;
}

.new-snippet .new-snippet__code {
  height: 300px;
  border-left: 1px solid var(--color-light-grey);
  border-right: 1px solid var(--color-light-grey);
}

.code-title {
  margin-bottom: 15px;
}

.new-snippet__body {
  margin-bottom: 35px;
}

.snippet-form .new-snippet__btn {
  width: 50%;
  padding: 15px;
  font-size: 18px;
}

.new-snippet__code .inputs-login {
  width: 100%;
  height: 100%;
}

.new-snippet__code .inputs-login__field {
  border: none;
  border-radius: 0;
  padding: 4px 8px;
}

.new-snippet__code .inputs-text--error {
  top: 30px;
}