.snippet__body {
  height: 200px;
  display: flex;
  border-bottom: 1px solid var(--color-light-grey);
  border-top: 1px solid var(--color-light-grey);
}

.codebase__number {
  background-color: rgba(184, 184, 184, 0.362);
  border-right: 1px solid var(--color-light-grey);
}

.codebase__text {
  display: inline-block;
  padding: 4px 8px;
  width: 100%;
  transition: all .2s ease-in;
}

.codebase__text:hover {
  background-color: rgba(136, 185, 255, 0.3);
  cursor: pointer;
}

.code-text {
  width: 100%;
}

.snippet-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-grey);
}