.ask-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ask-form .textfield-medium,
.ask-form .textfield-medium-size {
  width: 100%;
}

.textfield:last-of-type {
  margin-bottom: 10px;
}

.ask-form__title {
  margin-bottom: 10px;
  color: rgb(95, 94, 94);
  font-size: 17px;
  line-height: 23px;
}

.ask-form .snippet__body {
  height: 300px;
  border-left: 1px solid var(--color-light-grey);
  border-right: 1px solid var(--color-light-grey);
  box-shadow: 0px 5px 10px 2px rgba(68, 70, 71, 0.2);
}

.ask-form__body {
  width: 100%;
  margin-bottom: 40px;
}

.ask-form .ask-form__btn {
  width: 60%;
  padding: 15px;
  font-size: 18px;
}