.edit-password {
  flex-basis: 50%;
}

.edit-password .textfield-medium,
.edit-password .textfield-medium-size {
  width: 100%;
}

.edit-password .edit-user--btn {
  width: 100%;
  background-color: rgb(57, 171, 57);
}