.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.layout {
  margin: 0 auto;
}

.container {
  padding: 0 20px;
  max-width: 1920px;
}

.outer-wrapper {
  display: flex;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 15px;
  flex-basis: 84%;
  padding: 110px 50px 50px 50px;
  overflow: scroll;
  background-color: var(--color-white);
}

.backdrop {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}