.inputs-login {
  position: relative;
  transition: border-color .3s ease-in-out;
}

.inputs-login::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-grey);
}

.inputs-login:last-of-type {
  margin-bottom: 15px;
}

.key-svg,
.user-svg {
  position: absolute;
  content: '';
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.inputs-login__field {
  width: 100%;
  padding: 16px 16px 16px 52px;
  font-size: 18px;
  line-height: 22px;
  border: 2px solid var(--color-light-grey);
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.inputs-login__field:hover,
.inputs-login__field:focus-visible {
  border: 2px solid var(--color-blue);
}

.inputs-login svg path {
  transition: fill .3s ease-in-out;
}

.inputs-login__fieldr+svg path {
  transition: fill .3s ease-in-out;
}

.inputs-login--error,
.inputs-login--error:hover,
.inputs-login--error:focus-visible {
  border-color: var(--color-red-error);
}

.inputs-login--error+svg path {
  fill: var(--color-red-error);
}

.inputs-text--error {
  position: absolute;
  top: -13px;
  left: 0;
  color: var(--color-red-error);
  font-size: 12px;
}