.all-users,
.users {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.all-users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding-top: 40px;
}

@media (max-width: 1200px) {
  .all-users-list {
    flex-direction: column;
  }
}
