.comment {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.comment__field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  padding: 15px;
  border-radius: 5px;
  border-bottom: 2px solid rgb(197, 67, 67);
  background-color: rgba(184, 184, 184, 0.362);
}

.comment__text {
  color: rgb(197, 67, 67);
  font-size: 16px;
  line-height: 22px;
}

.comment__svg {
  width: 25px;
  height: 25px;
}

.comment__img {
  height: max-content;
  padding: 7px;
  background-color: rgb(57, 171, 57);
  border-radius: 5px;
}

.field__top {
  display: flex;
  justify-content: space-between;
}